/*CSS Reset*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*value for rem is short for root-em, most of the browsers has a font size value of 16px*/
/*1rem is equal to 16px*/

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is best when creating space elements border and its content*/

nav .nav,nav .nav-logo{
	/*display = inline cjanges elements to  inline elements*/
	display: inline;
	margin: 0.5rem;
	/*margin-top: 0.5rem
	margin-right: 0.5rem
	margin-bottom: 0.5rem
	margin-left: 0.5rem*/
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	/*shorthand property*/
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}

.header{
	text-align: center;

}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card{
	/*allows the cards to appear beside eachother*/
	display: inline-block;
	/*aligns the elements with the tallest element in line*/
	/*used with the inline block*/
	vertical-align: top;
	/*allows for thee cards to have an equal height that adgusts with the content*/
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	padding: 0.7rem;
}

footer span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

