/*
CSS Rules
selector{
	property: value;
}
*/

/* Universal Selector */

*{
	/*monospace acts like an alternate font for courier new*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar*/

nav{
	background-color: white;
}
/*selector: hover psuedo class*/
/*changes when hovered over*/
a:hover{
	background-color: yellow;
}

div{
	display: inline-block;
	float: right;
}

h1{
	color: orange !important;
	/* !important property has the highest priority */
	text-align: center;
	font-size: 2rem;
}
/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/

#zuitt-motto{
	/*the letter-spacing property changes the spaces in between characters of a text*/
	letter-spacing: 5px;
}

h3{
	letter-spacing: 25px;
}
ol{
	list-style-type: none;
}

/*adjacent sibiling selector*/
/*selector + selector*/

/*h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*The combinator selectors aren't limited to type selectors only. Id,class,attribute and universal may also be used*/


/*class-selector*/
/* .class-name */

.offering-item{
	text-transform: uppercase;
}

/*descedend selector*/
/*selector selector*/

#bootcamp-leaning-list li{
	color: #56345e;
}

/*The color property and similar properties that change color can also accept hex values. Hexadecimal values is consist of (#) sign in combination with 6 alphanumeric characters*/

/*General Sibiling Selector*/
/*selector ~ selector*/

h2 ~ a{
	text-decoration: none;
}

/*The text-decoration is a property that changes lines included in the text like overline, underline and strike through*/
/*The value none will remove underline from links*/

/*child selector*/
/*selector > selector*/

body > section > form > label{
	color: rgb(0, 0, 128);
}
/*child selector includes more than two selectors,changes happens in last tag*/
/*color property is similar*/
/*Attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width:2px ;
	border-style: solid;
	width: 90%;
}

/*registered section*/

form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}

button{
	background-color: green;
	color: white;
	border: 0;
	border-radius: 15px;
}