#div-1{
	background-color: green;
	display: inline;

}

#span-1{
	background-color: purple;
	display: inline-block;
	height: 200px;
	width: 200px;
	/*The width and the height of our span will not change beacuse we cant use width and height in property display :inline*/
}

#span-2{
	background-color: red;
}

#div-2{
	background-color: hotpink;
	display: none;
}

#img{
	display: inline-block;
	width: 250px;
	height: 250px;
}

#p-1{
	background-color: #87CEFA;
}

#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

.sample{
	width: 30%;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
}

/*Float property*/
.img-float{
	width: 250px;
	height: 250px;
	/*different values: right,left*/
	float: right;
}

/*CSS Units*/

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}
/*VH and VW , Viewpoint Units*/
/*relative to the viewports width 1VH = 1% of the viewports width */
/*50VW occupies 50%of viewports width and it is regardless of the actual screen size*/
	/*VW is useful for creating full-width elements(100%) that fill up the entire viewports width.*/

.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

	/*REM:  Relative to root element(HTML tag)*/
	/*EM:  Relative to parent element*/

.two-hundred-percent{
	font-size: 200%;
}

/*cCSS Background properties*/

.background{
	min-height: 1000px;
	/*background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.bg-title{
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 1000px;
}

/*CSS Positioning*/

.parent-element{
	background-color: skyblue;
	padding: 50px;
	height: 800px;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

html{
	height: 800vh;
}

/*Z-Index*/
.container{
	position: relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}