*{
	font-family: "Georgia" ,monospace;
	font-size: 15px;
}

#external-styling{
	color: yellow;
}

h1{
	font-size: 30px;
}

#heading{
	text-transform: capitalize;
}

.languages-list{
	background-color: lightgreen;
}

li[class = "tools-list"]{
	border-style: solid;
	border-width: 2px;
	border-color: blue;

}

img + ul{
	list-style-type: none;
}


img{
	border-radius: 50px;
	height: 10%;
	width: 10%;
}

h4 ~ p{
	text-align: center;
}

body>section>ul>li{
	letter-spacing: 5px;
}



